/**
 * @name NoNitroThanks
 * @description Everyone hates ads right? So... why is discord going to be an exception with nitro?
 * @author ImSwordKing
 * @version 1.0.5
 */

/* Disable all the data tracking options in "Privacy & Safety" before using the theme. */
/* most of the theme was made by Nyria#3863. */

/* IF SOMETHING GOES WRONG PLEASE MAKE AN ISSUE HERE: https://github.com/ImSwordKing/DiscordModifiCSSations/issues */

@import url('https://ImSwordKing.github.io/DiscordStuff/NoNitroThanks/main.css');
